<!-- <div class="row"  >
  <div class="col-sm" [routerLink]="['/definicje', slowo.id] " >{{slowo.slowo}}</div>
  <button class="btn btn-outline-primary staleWymiary" (click)="dajLajka()">{{slowo.likes.length}} +</button>
  <button class="btn btn-outline-danger staleWymiary" (click)="dajDisLajka()"> {{slowo.dislikes.length}} -</button>
</div> -->
<ng-container *ngIf="dislajkii >  ile">
  <li class="list-group-item col-sm-8 slowko">
    <div class="row">
      <div class="col-sm" [ngStyle]=" backgroundColor ?  {'background-color' :  backgroundColor }  : ''">{{slowo.slowo}}</div>

      <ng-container>

        <p class="lead" style="margin: 5px;"> Zna : {{lajkii}}</p>
        <p class="lead" style="margin: 5px;"> Nie zna : {{dislajkii}}</p>
        <button class="btn btn-outline-danger staleWymiary" (click)="deleteForTeacher(slowo)"> Usuń </button>

      </ng-container>

    </div>
  </li>

</ng-container>