<div class="calosc">
  <h1 class="display-4">Panel prowadzącego!</h1>

  <div class="row">
    <div class="btn-group col-sm-8 " dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic">
        <span *ngIf="selectedCourse"> {{selectedCourse.nazwa}} </span>
        <span *ngIf="!selectedCourse"> Wybierz kurs </span>
        <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li (click)="setCourse(course)" *ngFor="let course of coursesList" value="{{course}}" role="menuitem">
          <ng-container *ngIf="course.prowadzacynazwisko == prowadzacy ">
            <span class="dropdown-item"> {{course.nazwa}}</span>
          </ng-container>

        </li>

      </ul>

      <div class="form-group" class="col-sm-4">
        <input id="ilosc" type="text" class="form-control" placeholder="Próg wyświetlania" ngModel name="ilosc" #ilosc="ngModel"
          (keyup)="zmienilosc($event)">

        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>

      <!-- <div class="col-sm-4">
        <input id="ilosc" type="text" class="form-control" ngModel name="ilosc" #ilosc="ngModel" (keyup)="zmienilosc($event)">
      </div> -->

      <div class="col-sm-4">
        <button class="btn btn-outline-danger staleWymiary" (click)="deleteWords()"> Usuń wszystkie słowa z listy </button>
      </div>
    </div>



  </div>
  <ul class="list-group">

    <ng-container *ngFor="let slo of slowa">
      <ng-container *ngIf="slo">

        <app-slowo-nauczyciel [slowo]="slo" [autor]="autor" [ile]="poczatkowailosc" [course]="selectedCourse"></app-slowo-nauczyciel>

      </ng-container>
    </ng-container>
  </ul>
</div>