<body>
  <div class="navbartlo">
    
    <div class="global-nav">
        <!-- LOGO-->
      <a routerLink="/"> 
        <div class="logo">
          <span>MeetUpApp</span>
        </div>
      </a> 
      <!-- KONIEC LOGO-->

      <!-- MENU DESKTOPOWE-->
      <div class="menu">
        <a *ngIf="isUserLoggedIn" routerLink="/mojekursy">Moje Pokoje</a>
        <a routerLink="/kursy">Pokoje</a>
        <a *ngIf="isUserLoggedIn && (account_type=='1' || account_type=='0') " routerLink="/panel">Panel Prowadzącego</a>
        <a *ngIf="isUserLoggedIn && (account_type=='0') " routerLink="/panel-admin">Panel admin</a>

        <a *ngIf="!isUserLoggedIn" routerLink="/login">Zaloguj</a>
        <a *ngIf="!isUserLoggedIn" routerLink='/register'>Zarejestuj</a>
        <a *ngIf="isUserLoggedIn" (click)="wyloguj()" routerLink="/" >Wyloguj</a>
      </div>
      <!-- KONIEC MENU DESKTOPOWE-->

      <!-- MENU MOBILNE-->
      <div class="open">
        <span class="cls"></span>
        <span>
          <ul class="sub-menu">
            <li>
              <a routerLink="/" title="stronaglowna">Strona Główna</a>
            </li>
            <li>
              <a *ngIf="isUserLoggedIn" routerLink="/mojekursy" title="mojekursy">Moje Kursy</a>
            </li>
            <li>
              <a routerLink="/kursy" title="kursy">Kursy</a>
            </li>
            <li>
              <a *ngIf="isUserLoggedIn && (account_type=='1' || account_type=='0') " routerLink="/panel" title="panelProwadzacego">Panel Prowadzącego</a>
            </li>
            <li>
              <a *ngIf="!isUserLoggedIn" routerLink="/login" title="zaloguj">Zaloguj</a>
            </li>
            <li>
                <a *ngIf="isUserLoggedIn" (click)="wyloguj()" routerLink="/" title="wyloguj">Wyloguj</a>
              </li>
          </ul>
        </span>
        <span class="cls"></span>
      </div>
      <!-- KONIEC MENU MOBILNE-->
    </div>
  </div>

</body>