<body>
    <!-- LOGO-->
    <div class="navbartlo">
        <div class="global-nav">
        <div class="logo">
          <svg viewBox="0 0 1418 116" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" fill="none" fill-rule="evenodd" fill-opacity="0">
              <text id="imle" stroke="white" fill="#645F5A" font-weight="normal" font-family="Sedgwick Ave" font-size="144">
                <tspan x="3" y="109">
                  <tspan>i</tspan>
                  <tspan>M</tspan>
                  <tspan>L</tspan>
                  <tspan>E</tspan>
                </tspan>
              </text>
            </g>
          </svg>
          </div>
        <!-- KONIEC LOGO-->
        <!-- MENU DESKTOPOWE-->

         <div class="menu">
            <a routerLink="/">Strona Główna</a>
            <a routerLink="/mojekursy">Moje Kursy</a>
            <a routerLink="/kursy">Kursy</a>
            <a routerLink="/panel">Panel Prowadzącego</a>
            <a data-toggle="modal" data-target="#exampleModal">Zaloguj się</a>
         </div>
         <!-- MENU MOBILNE-->
     <div  class="open">
      <span class="cls"></span>
      <span>
        <ul class="sub-menu">
          <li>
             <a routerLink="/" title="stronaglowna">Strona Główna</a>
          </li>
          <li>
            <a routerLink="/mojekursy" title="mojekursy">Moje Kursy</a>
          </li>
          <li>
            <a routerLink="/kursy" title="kursy">Kursy</a>
          </li>
          <li>
            <a routerLink="/panel" title="panelProwadzacego">Panel Prowadzącego</a>
          </li>
          <li>
            <a routerLink="/login" title="zaloguj">Zaloguj się</a>
          </li>
        </ul>
      </span>
      <span class="cls"></span>
    </div>
  <!-- KONIEC MENU MOBILNE-->
        </div>
    </div>





      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Zaloguj się</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div class="modal-body">
                    <div class="col-md-6 col-md-offset-3">

      <!-- <form name="form" ng-submit="vm.login()" role="form">
          <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
              <label for="username">Login</label>
              <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />

          </div>
          <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
              <label for="password">Hasło</label>
              <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />

          </div>
          <div class="form-actions">
              <button type="submit"  class="btn btn-outline-primary">Nie pamiętam hasła</button>
          </div>
      </form> -->
  </div>
                </div>
                 <div class="modal-footer">
                  <button routerLink="/login" class="btn btn-outline-primary">Zaloguj</button>
                  <button routerLink="/register" class="btn btn-outline-danger" role="button">Zarejestruj się</button>
                 </div>
            </div>
          </div>
      </div>

      <div class="modal fade" id="exampleModale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rejestracja</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- <form name="form" ng-submit="vm.register()" role="form">
          <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
              <label for="username">Imię</label>
              <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />

          </div>
          <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
              <label for="username">Nazwisko</label>
              <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />

          </div>
          <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
              <label for="username">E-mail</label>
              <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />

          </div>
          <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
              <label for="password">Hasło</label>
              <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />

          </div>
          <div class="form-actions">
              <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-outline-primary">Zarejestruj się</button>

        </div>
      </form> -->
        </div>

      </div>
    </div>
  </div>
      </body>

