/*MENU DESKTOPOWE*/
.navbartlo{
  background-image: url("https://image.ibb.co/bPVyv8/bg.jpg");
  height:440px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  margin-bottom: 100px;

  
}

.global-nav{
	top: 0;
	position: fixed;
  z-index: 100;
  height: 100px;
  width: 100%;
	line-height: 200px;
	color: #FFF;
	-webkit-transition: height .5s, line-height .5s; /* Safari */
  transition: height .5s, line-height .5s;
  z-index: 100;

  
}
.menu{
    text-align: right;
    width: 90%;
    
}
.menu a{
    color: #FFF;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 100;
    cursor: pointer;
    
}

.menu a:focus{
  color: rgb(154, 230, 213);  
}
.menu a:before, .menu a:after{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
} 

.menu a:hover:before{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}
.menu a:hover:after{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}
.menu a:after{
	border-width: 2px;
    transition: all 0.4s;
}
.scrolled-nav {
  height: 120px !important;
  line-height: 100px !important;
  background-color: rgb(38, 84, 133);
  width: 100% !important;
  -webkit-transition: all .3s;
  transition: all .3s;
}	
.scrolled-nav .menu a{
  font-size: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.scrolled-nav .logo{
    top: 10px;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 144px;
}
/* .scrolled-nav .logo svg{
    height: 150px;
} */
.open{
	display: none;
}

/*MENU DLA URZĄDZEŃ MOBILNYCH*/
@media only screen and (max-width: 1000px) {

    .menu a{
        display: none;
    }
    .open {
        position: fixed;
        top: 70px;
        right: 40px; 
        width: 80px;
        height: 55px;
        display: block;
        cursor: pointer;
        transition: opacity 0.2s linear;
        z-index: 100;
      }
      .open:hover {
        opacity: 0.8;
        
      }
      .open span {
        display: block;
        float: left;
        clear: both;
        height: 7px;
        width: 80px;
        border-radius: 40px;
        background-color: #fff;
        position: absolute;
        right: 3px;
        top: -15px;
        overflow: hidden;
        transition: all 0.4s ease;
        
      }
      .open span:nth-child(1) {
        margin-top: 5px;
        z-index: 9;
      }
      .open span:nth-child(2) {
        margin-top: 25px;
      }
      .open span:nth-child(3) {
        margin-top: 45px;
      }
      
      .sub-menu {
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        height: 0;
        width: 0;
        right: 0;
        top: 0;
        position: absolute;
        background-color: rgba(38, 84, 133, 0.54);
        border-radius: 50%;
        z-index: 18;
        overflow: hidden;
      }
      .sub-menu li {
        display: block;
        float: right;
        clear: both;
        height: auto;
        margin-right: -160px;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .sub-menu li:first-child {
        margin-top: 210px;
      }
      .sub-menu li:nth-child(1) {
        -webkit-transition-delay: 0.05s;
      }
      .sub-menu li:nth-child(2) {
        -webkit-transition-delay: 0.1s;
      }
      .sub-menu li:nth-child(3) {
        -webkit-transition-delay: 0.15s;
      }
      .sub-menu li:nth-child(4) {
        -webkit-transition-delay: 0.2s;
      }
      .sub-menu li:nth-child(5) {
        -webkit-transition-delay: 0.25s;
      }
      .sub-menu li a {
        color: #fff;
        font-family: 'Quicksand', sans-serif;
        font-size: 22px;
        width: 100%;
        display: block;
        float: left;
        line-height: 50px;
        text-decoration: none;
      }
      .sub-menu li a:hover{
        color: rgb(154, 230, 213);
        
      }
      .sub-menu li a:focus{
        color: rgb(154, 230, 213);
        
      }
      .oppenned .sub-menu {
        opacity: 1;
        height: 570px;
        width: 570px;
      }
      .oppenned span:nth-child(2) {
        overflow: visible;
      }
      .oppenned span:nth-child(1),
      .oppenned span:nth-child(3) {
        z-index: 100;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      .oppenned span:nth-child(1) {
        -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
                transform: rotate(45deg) translateY(12px) translateX(12px);
      }
      .oppenned span:nth-child(2) {
        height: 550px;
        width: 550px;
        right: -160px;
        top: -160px;
        border-radius: 50%;
        background-color: rgba(38, 84, 133, 0.54);
      }
      .oppenned span:nth-child(3) {
        -webkit-transform: rotate(-45deg) translateY(-20px) translateX(15px);
                transform: rotate(-45deg) translateY(-20px) translateX(15px);
      }
      .oppenned li {
        margin-right: 168px;
      }
      .logo{
        display: none;
      }
      .scrolled-nav .open{
        top: 40px;
      }
      .scrolled-nav{
        background-image: url("https://image.ibb.co/bPVyv8/bg.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center center;
      }
      
  
      
      
}

@media only screen and (min-width:1001px) and (max-width: 1360px) {
    
    /* #global-nav{
	   top: 0;
	   position: fixed;
  	   width: 100%;
	   z-index: 1;
	   height: 60px;
	   line-height: 60px;
	   background-color: #2196f3;
	   -webkit-transition: height .5s, line-height .5s; 
        transition: height .5s, line-height .5s;
} */
.menu a{
	font-size: 15px;
}
 

}

/* Logo*/
/* .logo {
  padding:0;
  top: -5px;
  position: fixed;
  margin-left: 10%;
  -webkit-transition: all .5s;
    transition: all .5s;
  
}
.logo svg {
  max-width: 40%;
  height: 200px;
  fill: none;
  stroke: white;
  stroke-width: 4;
  -webkit-transition: all .5s;
    transition: all .5s;
}

.logo svg tspan > tspan {
  stroke-dasharray: 1500;
  stroke-dashoffset: -1500;
}
.logo svg tspan > tspan:nth-of-type(1) {
  -webkit-animation: draw 300ms 150ms forwards;
          animation: draw 300ms 150ms forwards;
}
.logo svg tspan > tspan:nth-of-type(2) {
  -webkit-animation: draw 300ms 300ms forwards;
          animation: draw 300ms 300ms forwards;
}
.logo svg tspan > tspan:nth-of-type(3) {
  -webkit-animation: draw 300ms 450ms forwards;
          animation: draw 300ms 450ms forwards;
}
.logo svg tspan > tspan:nth-of-type(4) {
  -webkit-animation: draw 300ms 600ms forwards;
          animation: draw 300ms 600ms forwards;
}
.logo svg tspan > tspan:nth-of-type(5) {
  -webkit-animation: draw 300ms 750ms forwards;
          animation: draw 300ms 750ms forwards;
}
.logo svg tspan > tspan:nth-of-type(6) {
  -webkit-animation: draw 300ms 900ms forwards;
          animation: draw 300ms 900ms forwards;
}
.logo svg tspan > tspan:nth-of-type(7) {
  -webkit-animation: draw 300ms 1050ms forwards;
          animation: draw 300ms 1050ms forwards;
}
.logo svg tspan > tspan:nth-of-type(8) {
  -webkit-animation: draw 300ms 1200ms forwards;
          animation: draw 300ms 1200ms forwards;
}
.logo svg tspan > tspan:nth-of-type(9) {
  -webkit-animation: draw 300ms 1350ms forwards;
          animation: draw 300ms 1350ms forwards;
}
.logo svg tspan > tspan:nth-of-type(10) {
  -webkit-animation: draw 300ms 1500ms forwards;
          animation: draw 300ms 1500ms forwards;
}
.logo svg tspan > tspan:nth-of-type(11) {
  -webkit-animation: draw 300ms 1650ms forwards;
          animation: draw 300ms 1650ms forwards;
}
.logo svg tspan > tspan:nth-of-type(12) {
  -webkit-animation: draw 300ms 1800ms forwards;
          animation: draw 300ms 1800ms forwards;
}
.logo svg tspan > tspan:nth-of-type(13) {
  -webkit-animation: draw 300ms 1950ms forwards;
          animation: draw 300ms 1950ms forwards;
}
.logo svg tspan > tspan:nth-of-type(14) {
  -webkit-animation: draw 300ms 2100ms forwards;
          animation: draw 300ms 2100ms forwards;
}
.logo svg tspan > tspan:nth-of-type(15) {
  -webkit-animation: draw 300ms 2250ms forwards;
          animation: draw 300ms 2250ms forwards;
}

@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
} */

.logo {
	position: absolute;
	top: 5px;
  position: fixed;
  font-family: 'Londrina Outline', cursive;
  font-size: 160px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: white;
  
}

    .logo span {
        opacity: 0;
        animation: loading 3s linear infinite alternate;
        
    }

@keyframes loading {
    to {
        opacity: 1;
    }
}

.logo span:nth-child(2) {
    animation-delay: 0.25s;
}

.logo span:nth-child(3) {
    animation-delay: 0.5s;
}

.logo span:nth-child(4) {
    animation-delay: 0.75s;
}



