<div class="calosc">
  <div class="format">
    <div class="formatka">
      <form class="formularz" ngForm #f="ngForm" (ngSubmit)="dodajUser(f)">

        <label for="nazwaUser" class="col-form-label" style="font-size:120%">Nazwa użytkownika:</label>
        <input class="form-control" id="nazwaKurs" requried ngModel name="nazwaUser" required type="text" class="form-control" #nazwaUser="ngModel">
        <label for="hasloUser" class="col-form-label" style="font-size:120%">Hasło:</label>
        <input type="text" class="form-control" id="hasloUser" ngModel name="hasloUser" #hasloUser="ngModel">


        <button class="button" [disabled]="!f.form.valid" (click)="dodajUser(f)" type="submit" data-toggle="modal" data-target="#myModal"
          title="Dołącz do nas!" title1="Uzupełnij dane!">Zarejestruj</button>


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p>Konto zostało utworzone.</p>
              </div>
              <div class="modal-footer">
                <button class="button" [routerLink]="['/login']" data-dismiss="modal" title="Zaloguj się!">Zaloguj</button>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>