<div class="calosc">
  <form ngForm #f="ngForm" (ngSubmit)="zapiszSie(f)" style="margin: 20px">
    <!-- <div class="card-body"></div> -->
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="hasloKurs" class="col-form-label" style="font-size:120%">Wprowadź hasło dostępu</label>
        <input 
          type="password" 
          class="form-control" 
          id="hasloKurs" 
          placeholder="Podaj hasło dostępu do kursu" 
          ngModel name="hasloKurs"
          required
          minlength="1"
          #hasloKurs="ngModel">
          <div class = "alert alert-danger" *ngIf="zleHaslo">
      
              Podałeś złe hasło
            
          </div>

          <div class = "alert alert-success" *ngIf="dobreHaslo">
      
              Gratulacje zapisałeś sie na kurs
            
          </div>
      </div>
      
    </div>
    <button class="button" type="submit" [disabled]="!f.form.valid"  title="Zapisz się">Zapisz się</button>
    <br>
    <br>
  </form>
</div>
<!-- [routerLink]="['/kursy', idkursu]" -->

<!-- {{tenKurs|json}}

{{f.value|json}} -->