<div class="card-body "style="margin: 50px">
    <div class="row">
      <div class="form-group col-lg-4">
          <label for="hasloKurs" 
          class="col-form-label" 
          style="font-size:120%">Wprowadź hasło dostępu</label>
          <input type ="password" class="form-control" id="hasloKurs" placeholder="Podaj hasło dostępu do kursu" ngModel name="hasloKurs" #hasloKurs="ngModel">

        </div>
        
        </div>
        <button class="btn btn-primary" type="submit" routerLink="/kursy"> Zapisz sie</button>

        </div>