<div class="calosc">
  <form ngForm #f="ngForm" (ngSubmit)="zapiszSie(f)" style="margin: 20px">
    <!-- <div class="card-body"></div> -->
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="hasloKurs" class="col-form-label" style="font-size:120%">Wprowadź hasło dostępu</label>
        <input 
          type="password" 
          class="form-control" 
          id="hasloKurs" 
          placeholder="Podaj hasło dostępu do kursu" 
          ngModel name="hasloKurs"
          required
          minlength="2"
          #hasloKurs="ngModel">

      </div>
      <ng-container *ngIf="zleHaslo">
          podales Zle haslo
      </ng-container>

    </div>
    <!-- <button class="btn btn-primary" [disabled]="!f.form.valid"  type="submit" routerLink="/kursy"> Stworz Kurs</button> -->
    <button class="button" type="submit" [disabled]="!f.form.valid" title="Zapisz się">Zapisz się</button>
    <br>
    <br>
  </form>
</div>

<!-- routerLink="/kursy"  -->

<!-- {{tenKurs|json}}

{{f.value|json}} -->