<div class="calosc">
  <h1 class="display-4" align="center">Panel administratora!</h1>


  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th class="col-sm">Login</th>
          <th class="col-sm">Haslo</th>
          <th class="col-sm">Typ konta</th>
        </tr>

        <ng-container *ngFor="let user of users">


          <tr>
            <td class="col-sm">{{user.login}}</td>
            <td class="col-sm">{{user.haslo}}</td>

            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <ng-container *ngIf="user.account_type=='0'">
                    <a>Admin</a>
                  </ng-container>
                  <ng-container *ngIf="user.account_type=='1'">
                    <a>Prowadzacy</a>
                  </ng-container>
                  <ng-container *ngIf="user.account_type=='2'">
                    <a>Student</a>
                  </ng-container>
                </button>
                <div class="dropdown-menu">
                  <a class="btn btn-danger dropdown-item" (click)="change_account_type(user.id,'0')">Admin</a>
                  <a class="btn btn-danger dropdown-item" (click)="change_account_type(user.id,'1')">Prowadzacy</a>
                  <a class="btn btn-danger dropdown-item" (click)="change_account_type(user.id,'2')">Student</a>

                </div>
              </div>
            </td>
            <td class="col-sm">
              <button class="btn btn-outline-danger" style="background-color:#DC3546;color:white;margin:2px" (click)="delete(user.id)">Usuń konto</button>
            </td>

          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>