
  <!-- dropdown kursy -->

  <div class="calosc">
    <h1 class="display-4" >
      <ng-container *ngIf="kurs">
        {{kurs.nazwa}}
      </ng-container>
    </h1>

<form ngForm #f="ngForm" (ngSubmit)="dodajSlowo(f)" style="margin: 20px">
  <!-- <div class="row"> -->

    <div class="form-group row">
      <!-- <label for="slowo">Wprowadź słowo</label> -->
      <input 
      id="slowo" 
      type="text" 
      class="form-control col-4" 
      placeholder="Wprowadź słowo"
      ngModel name="slowo"  #slowo="ngModel"
      required minlength="2"
       >
       
      <button class="btn btn-light" [disabled]="!f.form.valid">Dodaj</button>
      

      </div>
    
</form>
    <div class="form-group row">
      <input  class="szukaj" style="margin: 20px; margin-top: -10px;" (keyup)="onKey($event)" placeholder="Szukaj">
    </div>
  <app-slowa-lista  [values]="values"></app-slowa-lista>
</div>
