<form ngForm #f="ngForm" (ngSubmit)="dodajSlowo(f)" style="margin: 20px">
  <!-- <div class="row"> -->

    <div class="form-group row">
      <!-- <label for="slowo">Wprowadź słowo</label> -->
      <input 
      id="slowo" 
      type="text" 
      class="form-control col-4" 
      placeholder="Wprowadz słowo"
      requried ngModel name="slowo" 
      required minlength="2"
      #slowo="ngModel"
       >
      <button class="btn btn-light">+</button>
      </div>
      
      
      <!-- <div class = "alert alert-danger" *ngIf = "slowo.invalid && slowo.touched" style="margin: 20px">
          <div *ngIf = "slowo.errors.required">Wprowadź słowo</div>
          <div *ngIf ="slowo.errors.pattern">Słowo nie może zawierać cyfr ani znaków specjalnych</div></div> -->
    
  <!-- </div> -->
  <!-- {{f.value|json}} -->
</form>
<!-- {{slowa|json}} -->
<app-slowa-lista></app-slowa-lista>