body{
	margin-top: 200px;
}
.jumbotron{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 100px;
	height: 450px;
}
footer{
	background-color: #e9ecef;
}
#global-nav{
	top: 0;
	position: fixed;
  	width: 100%;
	z-index: 1;
	height: 100px;
	line-height: 100px;
	background-color: #2196f3;
	color: #FFF;
	-webkit-transition: height .5s, line-height .5s; /* Safari */
	transition: height .5s, line-height .5s;
	
}
.container{
	margin-left: 70%;
}
.container a{
    color: #FFF;
    text-decoration: none;
    font: 20px;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
	cursor: pointer;
	
	
}

.menu a:before, .menu a:after{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
} 

.menu a:hover:before{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}
.menu a:hover:after{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}
.menu a:after{
	border-width: 2px;
    transition: all 0.4s;
}
.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
}	
.wrap-all{
	display: none;
}

/*MENU DLA URZĄDZEŃ MOBILNYCH*/
@media only screen and (max-width: 1000px) {
	
.wrap-all {
		display: block;
		overflow: hidden;
		width:100%;
		position: relative;
}
.navigation-toggle {
		position:fixed;
		top:10px;
		right:10px;
		width:40px;
		height:40px;
		background: #222;
		border-radius:2px;
		display: block;
		z-index: 100;
		cursor: pointer;
}
.navigation-toggle span {
		width:20px;
		height:3px;
		margin:4px 10px;
		display: block;
		background: #fff;
		border-radius:1px;
}
.navigation-toggle span:first-child {
		margin-top:12px;
}
.navigation {
		z-index: 2;
		min-height: 100%;
		font-family:'Source Sans Serif', sans-serif;
		font-weight:300;
		font-size:14px;
		position: fixed;
		top:0;
		left:-250px;
		width:250px;
		background: #2196f3;
		height:100%;
		overflow: hidden;
		overflow-y:auto;
		color:#42505A;
		-webkit-transition: 0.5s left;
		-moz-transition: 0.5s left;
		-ms-transition: 0.5s left;
		-o-transition: 0.5s left;
		transition: 0.5s left;
}
.navigation a {
		display: block;
		color:#000000;
}
.navigation ul {
		list-style:none;
		padding:0;
		margin:20px 0;
}
.navigation ul li {
		text-transform: uppercase;
		font-weight:600;
}
.navigation ul li:last-child {
		border-bottom:0;
}
.navigation ul li a {
		height:50px;
		line-height: 50px;
		text-decoration: none;
		padding:0 20px 0 30px;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
}
.navigation ul li a:hover {
		background:#3BB4BC;
		color:#fff;
		border-left:6px solid #329EA5;
}
.navigation .logo {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  	font-size: 40px;
  	padding: 80px 50px;
  	text-align: center;
  	text-transform: uppercase;
  	text-rendering: optimizeLegibility;
    color: #131313;
    letter-spacing: .15em;
    
}
.navigation-show .page-content {
	left:250px;
}
.navigation-show .navigation {
	box-shadow:0 2px 10px rgba(0,0,0,0.2);
	left:0;
}
.menu a{
	display: none;
}

}

@media only screen and (min-width:1001px) and (max-width: 1360px) {
    
    #global-nav{
	   top: 0;
	   position: fixed;
  	   width: 100%;
	   z-index: 1;
	   height: 60px;
	   line-height: 60px;
	   background-color: #2196f3;
	   -webkit-transition: height .5s, line-height .5s; /* Safari */
        transition: height .5s, line-height .5s;
}
.menu a{
	font-size: 15px;
}
 

}
/* ŁADOWANIE STRONY */


.ladowanie{
	background: #d2d2d2;
   	font-family: 'Oswald', sans-serif;
  	font-size: 100px;
 	color: #B71427 ;
  	
}
  
  .outter {
	position: absolute; 
	top: 45%;
	left: 45%;
	width: 80px;
	height: 80px;
	border-radius: 80px 0 0 80px;
	border-left: solid 5px #7D1935 ;
	-webkit-animation-name:             spin; 
	-webkit-animation-duration:         1s; 
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function:  linear;
	
  }
  
  .mid {
	top: 15px;
	left: 15px;
	position: relative; 
	width: 50px;
	height: 50px;
	border-radius: 50px 0 0 50px;
	border-left: solid 5px #B71427; 
	-webkit-animation-name:             spin; 
	-webkit-animation-duration:         3s; 
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function:  linear;
  }
  
  @-webkit-keyframes spin {
	from { -webkit-transform:rotate(0deg) } 
	to { -webkit-transform:rotate(360deg) } 
  }
  @-moz-keyframes spin {
	from { -webkit-transform:rotate(0deg) } 
	to { -webkit-transform:rotate(360deg) }   
  }
  @-o-keyframes spin {
	from { -webkit-transform:rotate(0deg) } 
	to { -webkit-transform:rotate(360deg) }   
  }
  @keyframes spin {
	from { -webkit-transform:rotate(0deg) } 
  to { -webkit-transform:rotate(360deg) }   
  }