<ng-container *ngIf="!isUserLoggedIn">
  <div class="calosc">
    <h1 class="display-4">Witaj użytkowniku!</h1>
    <p class="lead">Poznaj łatwość prowadzenia spotkań z naszą aplikacją.</p>
    <hr class="my-4">
    <p>Przekonaj się jakie to łatwe!</p>
    <div>
    <a class="button" [routerLink]="['/register']" role="button" title="Dołącz do nas!">Dołącz do nas</a>
    <a class="button" [routerLink]="['/login']" role="button" title="Zaloguj">Zaloguj</a>
    </div>
    <br>
    <br>

  </div>
</ng-container>

<ng-container *ngIf="isUserLoggedIn">
  <div class="calosc">
    <h1 class="display-4">Witaj <b>{{autor}}</b>!</h1>
    <p class="lead">Zapraszamy Cię skorzystania ze wszystkich funkcjonalności aplikacji!</p>
    <hr class="my-4">
    <p>Aby sprawdzić listę kursów, do których możesz się zapisać przejdź do zakładki <b><a class="przejdz" [routerLink]="['/kursy']">Kursy</a></b>.</p>
    <p>Aby sprawdzić listę kursów, do których posiadasz dostęp przejdź do zakładki <b><a class="przejdz" [routerLink]="['/kursy']">Moje kursy</a></b>.</p>
    
  </div>
</ng-container>