<ng-container *ngIf="!isUserLoggedIn">
  <div class="calosc">
    <h1 class="display-4">Witaj w MeetUpApp!</h1>
    <p class="lead">MeetUpApp to darmowe i praktyczne rozwiązanie ułatwiające 
      prowadzenie i uczestnictwo w spotkaniach. </p>
    <p class="lead">Śledź każde niezrozumiałe słówko i nie przeocz ciekawego pytania.</p>
    <hr class="my-4">
    <p>Przekonaj się już dziś jak sprawnie to działa!</p>
    <a class="button" [routerLink]="['/register']" role="button" title="Dołącz do nas!">Dołącz do nas</a>
    <br>
    <br>
    <br>
    <a>Masz już konto?</a>
    <a routerLink="/login">Zaloguj...</a>
    <br>
    <br>

  </div>
</ng-container>

<ng-container *ngIf="isUserLoggedIn">
  <div class="calosc">
    <h1 class="display-4">Witaj <b>{{autor}}</b>!</h1>
    <p class="lead">Zapraszamy Cię skorzystania ze wszystkich funkcjonalności aplikacji!</p>
    <hr class="my-4">
    <p>Aby sprawdzić listę kursów, do których możesz się zapisać przejdź do zakładki <b><a class="przejdz" [routerLink]="['/kursy']">Kursy</a></b>.</p>
    <p>Aby sprawdzić listę kursów, do których posiadasz dostęp przejdź do zakładki <b><a class="przejdz" [routerLink]="['/kursy']">Moje kursy</a></b>.</p>
    
  </div>
</ng-container>